$navbar-padding-x: 1.3rem !default;
$navbar-padding-y: 1.3rem !default;
$font-size-base: 1.3rem !default;

$brand-primary: #2980b9;
$brand-success: #2ecc71;
$brand-warning: #f1c40f;
$brand-info: #3498db;
$brand-danger: #e74c3c;


.bg-midnight {
  background-color: #2c3e50;
}