/app/config/parameters.yml
/bin/mozaic/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/node_modules/
/app/glynn-admin.db3
.idea
!bin/mozaic/var/cache
/bin/mozaic/var/cache/*
!bin/mozaic/var/logs
/bin/mozaic/var/logs/*
!bin/mozaic/var/sessions
/bin/mozaic/var/sessions/*
!bin/mozaic/var/SymfonyRequirements.php
/bin/mozaic/vendor/
/.config.json
